.nav-bar{
    background-color: #04aa6d;
    display: flex;
    justify-content: right;
    padding: 0.1rem 2rem;
  }
  .nav-list {
    display: flex;
    align-items: center;
  }
  
  .nav-list ul {
    display: flex;
    justify-content: left;
    list-style: none;
  }
  
  .nav-item {
    margin: 0 0 0px;
  }
  
  .nav-link {
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
    font-weight: 400;
  }