.square {
    margin: 3rem 0 2rem;
    display: block;
    width: 525px;
    height: 25px;
    background-color: #04aa6d;
    position: absolute;
    z-index: 1;
    left: 20px;
    /* top: 80px; */
}
