<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/inscricao.css">
    <title>Anais do evento</title>
</head>
<body>
    <div class="container">
        <img src="../img/cartaz_h2.png" alt="Imagem de topo" class="imagem-topo">
        <main>
            <div class="menu-lateral">
                <h2>Menu</h2>
                <nav>
                    <ul>
                        <li><a href="../../index.php">Apresentação</a></li>
                        <li><a href="../templates/inscricao.html">Inscrições</a></li>
                        <li><a href="../templates/programação.html" >Programação</a></li>
                        <li><a href="../templates/subTrabalhos.html">Submissão de trabalhos</a></li>
                        <li><a href="../templates/certificados.html" >Certificados</a></li>
                        <li><a href="#" class="active">Anais do evento</a></li>
                        <li><a href="../templates/organização.html" >Organização</a></li>
                        <li><a href="../templates/infoViagem.html" >Informações de viagem e hospedagem</a></li>
                    </ul>
                </nav>
            </div>
            <div class="principal">
                <h1>Anais do evento</h1>
                <p style="text-align: justify;"  > <strong>INDISPONIVEL NO MOMENTO</strong> 
                    </p>
            </div>
        </main>
        <footer class="rodape">
            <div>
                <h2>Realização</h2>
                <figure>
                    <img src="../img/footer2.png" alt="Imagem do rodapé" class="imagem-rodape">
                    
                </figure>
            </div>
        </footer>
    </div>
</body>
</html>
