<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/certificados.css">
    <title>Certificados</title>
</head>
<body>
    <div class="container">
        <img src="../img/cartaz_h2.png" alt="Imagem de topo" class="imagem-topo">
        <main>
            <div class="menu-lateral">
                <h2>Menu</h2>
                <nav>
                    <ul>
                        <li><a href="../../index.php">Apresentação</a></li>
                        <li><a href="../templates/inscricao.html">Inscrições</a></li>
                        <li><a href="../templates/programação.html" >Programação</a></li>
                        <li><a href="../templates/subTrabalhos.html">Submissão de trabalhos</a></li>
                        <li><a href="#" class="active" >Certificados</a></li>
                        <li><a href="../templates/anaisDoEvento.html">Anais do evento</a></li>
                        <li><a href="../templates/organização.html" >Organização</a></li>
                        <li><a href="../templates/infoViagem.html" >Informações de viagem e hospedagem</a></li>
                    </ul>
                </nav>
            </div>
            <div class="principal">
                <h1>Certificados</h1>
                <!-- <p>Os certificados do evento já estão disponíveis, tanto para participantes quanto para organizadores, convidados e colaboradores!</p> -->
                <p style="text-align: justify; line-height: 1.5; margin-top:10px" >A certificação ocorrerá mediante a assinatura da frequência e/ou apresentação de trabalhos durante o evento. 
                    Os certificados estarão disponíveis no site da Universidade do Estado do Amazonas <a href="https://www.uea.edu.br/" target="_blank">(www.uea.edu.br)</a> após a realização da Mostra.</p>
            </div>
        </main>
        <footer class="rodape">
            <div>
                <h2>Realização</h2>
                <figure>
                    <img src="../img/footer2.png" alt="Imagem do rodapé" class="imagem-rodape">
                </figure>
            </div>
        </footer>
    </div>
</body>
</html>
