<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/organizacao.css">
    <title>Organização</title>
</head>
<body>
    <div class="container">
        <img src="../img/cartaz_h2.png" alt="Imagem de topo" class="imagem-topo">
        <main>
            <div class="menu-lateral">
                <h2>Menu</h2>
                <nav>
                    <ul>
                        <li><a href="../../index.php">Apresentação</a></li>
                        <li><a href="../templates/inscricao.html">Inscrições</a></li>
                        <li><a href="../templates/programação.html" >Programação</a></li>
                        <li><a href="../templates/subTrabalhos.html">Submissão de trabalhos</a></li>
                        <li><a href="../templates/certificados.html">Certificados</a></li>
                        <li><a href="../templates/anaisDoEvento.html">Anais do evento</a></li>
                        <li><a href="#" class="active">Organização</a></li>
                        <li><a href="../templates/infoViagem.html">Informações de viagem e hospedagem</a></li>
                    </ul>
                </nav>
            </div>
            <div class="principal">
                <h1>Organização</h1>
                <section>
                    <h3>Coordenação Geral</h3>
                    <ul>
                        <li>Prof. Me. Thiago Eugênio Gomes (UEA)</li>
                        <li>E-mail: tgomes@uea.edu.br </li>
                    </ul>
                </section>
            
                <section>
                    <h3>Comissão Organizadora</h3>
                    <ul>
                        <li>Prof. Dr. Elizangela Oliveira (UEA)</li>
                        <li>E-mail: esoliveira@uea.edu.br</li>

                        <li style="margin-top:10px">Prof. Dr. Ethel Oliveira  (UEA)</li>
                        <li>E-mail: Eoliveira@uea.edu.br</li>
                        
                        <li style="margin-top:10px">Prof. Esp. Katiani Fernanda Antunes (UEA)</li>
                        <li>E-mail: katiani.fernanda@gmail.com</li>
                        
                        
                        
                    </ul>
                </section>
            
                <section>
                    <h3>Secretaria</h3>
                    <ul>
                        <li>Beatriz Viana Soares  (UEA)</li>
                        <li>E-mail: bvs.lin22@uea.edu.br</li>
                    </ul>
                </section>
            
                <section>
                    <h3>Supote do site</h3>
                    <ul>
                        <li>João Mateus Barbosa Pinheiro (UEA) </li>
                        <li>E-mail: jmbp.ecp19@uea.edu.br</li>
                        
                        <li style="margin-top:10px" >João Santos da Silva Filho (UEA)</li>
                        <li>E-mail: jsdsf.ecp19@uea.edu.br</li>
                    </ul>
                </section>
            </div>
        </main>
        <footer class="rodape">
            <div>
                <h2>Realização</h2>
                <figure>
                    <img src="../img/footer2.png" alt="Imagem do rodapé" class="imagem-rodape">
                    
                </figure>
            </div>
        </footer>
    </div>
</body>
</html>
