<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/programacao.css">
    <title>Programação</title>
</head>
<body>
    <div class="container">
        <img src="../img/cartaz_h2.png" alt="Imagem de topo" class="imagem-topo">
        <main>
            <div class="menu-lateral">
                <h2>Menu</h2>
                <nav>
                    <ul>
                        <li><a href="../../index.php">Apresentação</a></li>
                        <li><a href="../templates/inscricao.html">Inscrições</a></li>
                        <li><a href="#" class="active">Programação</a></li>
                        <li><a href="../templates/subTrabalhos.html">Submissão de trabalhos</a></li>
                        <li><a href="../templates/certificados.html">Certificados</a></li>
                        <li><a href="../templates/anaisDoEvento.html">Anais do evento</a></li>
                        <li><a href="../templates/organização.html">Organização</a></li>
                        <li><a href="../templates/infoViagem.html">Informações de viagem e hospedagem</a></li>
                    </ul>
                </nav>
            </div>
            <div class="principal">
                <h1>Programação</h1>
                <table>
                    <tr>
                        <td colspan="4"><h2>III Mostra Cultural do Programa Biblioteca Comunitária: um ponto de cultura e humanização
                            13/07/24
                            </h2></td>
                    </tr>
                    <tr>
                        <th>Horário</th>
                        <th>Atividade</th>
                        <th>Descrição</th>
                        <th>Local</th>
                    </tr>
                    <tr>
                        <td>13h</td>
                        <td>Recepção musical</td>
                        <td>Violão e voz.</td>
                        <td>Miniauditório</td>
                    </tr>
                    <tr>
                        <td>13h15</td>
                        <td>Apresentação cultural: violão, flauta e voz</td>
                        <td>Performance musical das crianças participantes das turmas de violão e flauta</td>
                        <td>Miniauditório</td>
                    </tr>
                    <tr>
                        <td>13h30</td>
                        <td>Discurso de abertura</td>
                        <td>Apresentação do programa, histórico e resultados obtidos ao longo do período 2023-2024</td>
                        <td>Miniauditório</td>
                    </tr>
                    <tr>
                        <td>13h45 - 16h</td>
                        <td>Rodadas de Comunicação Oral</td>
                        <td>Comunicação dos trabalhos aprovados.</td>
                        <td>Sala 1</td>
                    </tr>
                    <tr>
                        <td>13h45 - 16h</td>
                        <td>Caminho dos Artistas</td>
                        <td>Exposição de obras de arte (pinturas, artesanato, poemas etc.) das crianças e jovens inscritas nos projetos da Biblioteca.</td>
                        <td>Hall</td>
                    </tr>
                    <tr>
                        <td>14h - 15h</td>
                        <td>Oficina 1:
                            Horta Orgânica Domiciliar</td>
                        <td>Planejamento e etapas para a constituição de pequena horta domiciliar ou comunitária.</td>
                        <td>Horta da Biblioteca</td>
                    </tr>
                    <tr>
                        <td>14h - 15h</td>
                        <td>Oficina 2:
                            Reestruturação e Acabamento de Utensílios
                            </td>
                        <td>Reaproveitamento e transformação de utensílios domésticos de madeira.</td>
                        <td>Pátio do refeitório</td>
                    </tr>
                    <tr>
                        <td>14h - 15h</td>
                        <td>Oficina 3:
                            Contação de Histórias para Criança
                            </td>
                        <td>Técnicas e estratégias de leitura de livros para crianças.</td>
                        <td>Biblioteca</td>
                    </tr>
                    <tr>
                        <td>13h - 17h</td>
                        <td>Stand de apresentação das ações da Biblioteca
                            </td>
                        <td>Introdução e esclarecimentos sobre os cursos e ações da Biblioteca, distribuição de folders e registro de novos interessados.</td>
                        <td>Hall</td>
                    </tr>
                    <tr>
                        <td>16h - 16h30</td>
                        <td>Exposição dos resultados dos trabalhos da Biblioteca
                            </td>
                        <td>Bolsistas, voluntários e crianças apresentam os resultados dos projetos vinculados à Biblioteca.</td>
                        <td>Miniauditório</td>
                    </tr>
                    <tr>
                        <td>16h30 - 17h</td>
                        <td>Palestra Direitos Humanos e a UEA: um convite para a comunidade
                            </td>
                        <td>Exposição e discussão de iniciativas de aproximação entre a universidade e a comunidade.</td>
                        <td>Miniauditório</td>
                    </tr>
                    <tr>
                        <td>17h - 18h</td>
                        <td>Roda conversa: O que é uma biblioteca comunitária?
                            </td>
                        <td> Debate com a participação de todo o público em que se discutirá como organizar e se manter uma biblioteca comunitária.</td>
                        <td>Miniauditório</td>
                    </tr>
                    
                    <!-- Adicione mais linhas conforme necessário -->
                </table>
            </div>
        </main>
        <footer class="rodape">
            <div>
                <h2>Realização</h2>
                <figure>
                    <img src="../img/footer2.png" alt="Imagem do rodapé" class="imagem-rodape">
                    
                </figure>
            </div>
        </footer>
    </div>
</body>
</html>
