<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/subTrabalhos.css">
    <title>Submissão de Trabalhos</title>
</head>
<body>
    <div class="container">
        <img src="../img/cartaz_h2.png" alt="Imagem de topo" class="imagem-topo">
        <main>
            <div class="menu-lateral">
                <h2>Menu</h2>
                <nav>
                    <ul>
                        <li><a href="../../index.php">Apresentação</a></li>
                        <li><a href="../templates/inscricao.html">Inscrições</a></li>
                        <li><a href="../templates/programação.html" >Programação</a></li>
                        <li><a href="#" class="active">Submissão de trabalhos</a></li>
                        <li><a href="../templates/certificados.html" >Certificados</a></li>
                        <li><a href="../templates/anaisDoEvento.html">Anais do evento</a></li>
                        <li><a href="../templates/organização.html" >Organização</a></li>
                        <li><a href="../templates/infoViagem.html" >Informações de viagem e hospedagem</a></li>
                    </ul>
                </nav>
            </div>
            <div class="principal">
                <h1>Submissão de Trabalhos</h1>
                
                <h3>Período de submissão: 10/05 à 30/06/2024</h3>
                

                <section style="text-align: justify;" class="eixos">
                    <h2>Eixos Temáticos:</h2>
                    <ol>
                        <li>Leitura e produção literária em espaços de educação formais e não formais</li>
                        <li>Economia criativa e práticas sustentáveis em comunidades periféricas, rurais e ribeirinhas</li>
                        <li>História, cultura e memória</li>
                    </ol>
                </section>

                <section style="text-align: justify;" class="orientacoes">
                    <h2>Orientações para Submissão de Trabalhos na Modalidade "Resumo Simples":</h2>
                    <ul>
                        <li>Formatação de texto: fonte Times New Roman, tamanho 12; alinhamento justificado; espaçamento 1,5; margens à direita e inferior: 2 cm; superior e esquerda: 3 cm.</li>
                        <li>Título do resumo: em caixa-alta; alinhamento centralizado.</li>
                        <li>Autores e co-autores: fonte tamanho 11; alinhado à direita; informações sobre a instituição; formação acadêmica e e-mail devem ser indicados no rodapé da página.</li>
                        <li>O corpo de texto do resumo deve conter: contexto do trabalho; objetivos; métodos; resultados (parcial ou final); discussão e conclusão.</li>
                        <li>Quantidade de palavras: entre 300 e 500 palavras, incluindo palavras-chave (até 3 palavras-chave).</li>
                        <li>Critérios de avaliação: 1) Cumprimento das normas textuais estabelecidas nesta chamada; 2) relação com o eixo temático ao qual o trabalho se destina; 3) coerência teórica e metodológica.</li>
                    </ul>
                </section>

                <section style="text-align: justify;" class="observacoes">
                    <h2>Observações para os Autores:</h2>
                    <ul>
                        <li>Cada trabalho deverá ter no máximo 1 (um) autor principal e até 3 (três) co-autores. No caso de autores discentes da graduação é obrigatória a participação de um professor orientador.</li>
                        <li>É permitida a submissão de até dois trabalhos por autor principal inscrito na Mostra.</li>
                        <li>Cada pessoa inscrita poderá ser o autor principal de no máximo 2 (dois) trabalhos, mas o número de trabalhos dos quais pode ser co-autor é ilimitado.</li>
                        <li>Os conteúdos dos trabalhos submetidos serão de responsabilidade do(s) autor(es).</li>
                        <li>É de responsabilidade do(s) autor(es) do(s) trabalho(s) o correto preenchimento da plataforma de envio. Não serão aceitos pedidos de edição dos textos após submissão.</li>
                        <li>Atentar para preencher em cada campo do sistema apenas o que for solicitado. O não cumprimento desta regra significará a não aprovação do(s) trabalho(s).</li>
                        <li>Os coordenadores de eixo se reservam ao direito de divulgar somente a lista dos trabalhos aprovados.</li>
                        <li>Para a publicação dos resumos nos anais da Mostra, pode ser solicitada aos autores uma revisão textual dos trabalhos. Haverá novo prazo para envio da revisão, sob pena de não inclusão do resumo na edição final dos anais.</li>
                    </ul>
                </section>
                
                <h2 style="text-align: justify;">As submissões de trabalhos podem ser feitas por meio deste <a href="https://forms.gle/CJsMGTypm5tvMSBVA" target="_blank">link</a>.</h2>
            </div>
        </main>
        <footer class="rodape">
            <div>
                <h2>Realização</h2>
                <figure>
                    <img src="../img/footer2.png" alt="Imagem do rodapé" class="imagem-rodape">
                    
                </figure>
            </div>
        </footer>
    </div>
</body>
</html>
